@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
        filter: brightness(75%);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
        filter: brightness(100%);
    }
}

body {
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
}

#websiteTitle {
    color: red;
}

#websiteTitle::before {
    content: "Gordon Head neighbourhood forum";
}

.loginStatus {
    font-style: italic;
    float: right;
    margin: 0;
    margin-right: 10px;
}
