.postPreview {
    border: 1px solid;
    padding: 7.5px;
    border-radius: 15px;
    margin-bottom: 10px;
    border-color: magenta; /* will match whatever title colour is set to */
}

.postPreviewTitle {
    color: magenta; /* Will be set by the user later */
    margin: 0;
}

.postPreviewInfo {
    color: magenta; /* will match whatever title colour is set to */
    font-style: italic;
    margin: 0;
}

.postPreviewContent {
    text-wrap: wrap;
    margin: 0;
    color: chocolate; /* Will be set by the user later */
}

.postPreviewContent:hover {
    font-weight: bold;
}

#loginB{
  float: right;               
  background-color: darkgoldenrod;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#loginB:hover {
  background-color: goldenrod;
}
