@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

body {
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
}

ul {
    padding-left: 1rem;
}

#title {
    text-align: center;
    color: darkgoldenrod;
    font-family: Copperplate;
}


label{
    width: 100px;
    height: 50px;
    position: relative;
    display: block;
    /* background: gray; */
    background: white;
    
    border-radius: 50px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.5), inset 0px -5px 15 rgba(0, 0, 0, 0,0.5);
    cursor: pointer;
    transition: 0.5s;
}

label:after{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
    background: linear-gradient(180deg,rgb(238, 218, 218),rgb(46, 158, 196));
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    transition: 0.5s;
    

}
input{
    width: 0;
    height: 0;
    visibility: hidden;
}
input:checked + label{

    background: gray;
    /* i'll optimize this part -parsa */


}

input:checked + label:after{
    left: calc(100% - 45px);;
    background: linear-gradient(0deg,rgb(238, 218, 218),rgb(2, 44, 58));
    transition: 0.4; 


}

label:active:after{
    width: 50px;
}

.toggle-flex{
    display: flex;
    justify-content: center;
}
