@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

body {
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
}

ul {
    padding-left: 1rem;
}

#title {
    text-align: center;
    color: darkgoldenrod;
    font-family: Copperplate;
}


label{
    width: 500px;
    height: 200px;
    position: relative;
    display: block;
    background: gray;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.5), inset 0px -5px 15 rgba(0, 0, 0, 0,0.5);
    cursor: pointer;
}

label:after{
    content: "";
    width: 180px;
    height: 180px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: linear-gradient(180deg,rgb(238, 218, 218),rgb(46, 158, 196));
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    



}