@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

body {
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
}

ul {
    padding-left: 1rem;
}

#title {
    text-align: center;
    color: darkgoldenrod;
    font-family: Copperplate;
} 


..animate {
  font-size: 30px;
  border-bottom: 2px solid #ffd900;
}
.animate span {
  display: inline-block;
  animation: slideLR 4s infinite ease-in-out;
}

@keyframes slideLR {
  /* 
  50%  { transform: translateX(50px) ; }
  90% { transform: translateX(-50px) ; } */

  20%   { transform: translateX(-50px) ; }
  40% {
		transform: translate(50px, 0) scale(.7);
		opacity: 1;
	}

	60% {
		color: #0f40ba;
	}

	80% {
		transform: translate(0) scale(2);
		opacity: 0;
	}

	100% {
		transform: translate(0) scale(1);
		opacity: 1;
	}
}
